:root {
    --a: 16;
    --a-px: calc(var(--a) * 1px);
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'JetBrainsMono Nerd Font Mono', 'Courier New', Courier, monospace;
}
body {
    overflow: hidden;
}
.i {
    box-shadow: inset 0 0 0 2px #fff;
}
.i-f > * {
    box-shadow: inset 0 0 0 2px #ffffff80;
}
.title {
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: grey;
    color: white;
    padding: var(--a-px);
    width: max-content;
    height: max-content;
    position: absolute;
    bottom: var(--a-px);
    left: var(--a-px);
    z-index: 1;
}

#board {
    width: 100%;
    height: 100dvh;
    background-color: grey;
    position: relative;
    & > * {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

#gui {
    z-index: 1;
}

#trn {
    display: flex;
    align-items: center;
    justify-content: center;
    & > * {
        position: absolute;
        width: calc(var(--a-px) * (var(--a) * 2));
        height: calc(var(--a-px) * (var(--a) * 2));
    }
}

#player {
    position: absolute;
    top: calc(var(--y) * 1%);
    left: calc(var(--x) * 1%);
    & .sprite {
        translate: -50% -50%;
        width: calc(var(--a-px) * 2);
        height: calc(var(--a-px) * 2);
        display: block;
    }
}

#capture {
    width: 100%;
    height: 100dvh;
    /* background-color: red; */
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    & > * {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        display: block;
        position: absolute;
        translate: -50% -50%;
        top: calc(var(--y) * 1px);
        left: calc(var(--x) * 1px);
        background-color: red;
    }
}

#status {
    margin: 10px;
    font-size: 0.9em;
}

#joystick {
    position: absolute;
    top: 75%; left: 30%;
    /* top: 0%; left: 0%; */
    opacity: 40%;
    display: none;
    filter: invert(1);
    &.show {
        display: block;
    }
    & .controls {
        width: calc(var(--a-px) * (var(--a) / 1));
        height: calc(var(--a-px) * (var(--a) / 1));
        position: relative;
        translate: -50% -50%;
        display: flex;
        align-items: center;
        justify-content: center;
        & .positions {
            border-radius: 50%;
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            & > * {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2em;
                color: #fff;
                opacity: 30%;
                transition: color 100ms ease, opacity 100ms ease;
                &.active {
                    /* color: yellow; */
                    opacity: 100%;
                }
                /* background-color: red; */
            }
        }
        & .range {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            /* display: none; */
        }
    }
}